{{#partial "content"}}
    <h1>Reviews</h1>

    <ul>
        {{#each reviewList}}
            <li>{{ rating }}: {{ comment }}</li>
        {{/each}}
    </ul>

    <form action="/courses/{{id}}/reviews" method="post">
        <input type="number" placeholder="0" name="rating">
        <input type="text" placeholder="comment" name="comment"/>
        <button>submit</button>
    </form>

{{/partial}}

{{> base.hbs}}